<div class="container-fluid" id="bg-img">
  <div class="row d-flex justify-content-end ml-5">
    <button class="btn-sair" routerLink="/register"> <h6 class="font-weight-bold text-uppercase text-center text-justify-center">Sair</h6></button>
  </div>
  <div class="row d-flex align-items-center justify-content-center"> 
    <img
      src="../../assets/logoDogBreed.png"
      class="logo-edit"
      alt="Logo DogBreed"
    />
   
    
  </div>
  <div class="row d-flex align-items-center justify-content-center">
    <button
      (click)="getAllPets('chihuahua')"
      type="submit"
      class="btn-breed text-breed"
    >
      <img
        src="../../assets/pata-laranja.png"
        class="img-pata"
        alt="Pata de cachorro laranja"
      />
      Chihuahua
    </button>

    <button
      (click)="getAllPets('husky')"
      type="submit"
      class="btn-breed text-breed"
    >
      <img
        src="../../assets/pata-laranja.png"
        class="img-pata"
        alt="Pata de cachorro laranja"
      />
      Husk
    </button>

    <button
      (click)="getAllPets('pug')"
      type="submit"
      class="btn-breed text-breed"
    >
      <img
        src="../../assets/pata-laranja.png"
        class="img-pata"
        alt="Pata de cachorro laranja"
      />
      Pug
    </button>

    <button
      (click)="getAllPets('labrador')"
      type="submit"
      class="btn-breed text-breed"
    >
      <img
        src="../../assets/pata-laranja.png"
        class="img-pata"
        alt="Pata de cachorro laranja"
      />
      Labrador
    </button>
    

 
      <div class="row">
        <div class="col-md-3" *ngFor="let breed of breedList?.list">
      
            <img class="img-breeds" [src]="breed" alt="foto de cachorros"  onClick="window.open(this.src)"
            role="button"
            tabIndex="0"/>
    
        </div>
      </div>




    
  </div>
</div>
<app-footer></app-footer>


